<% include ../partials/header %>

<div class="container form-container">
    <div class="row">
        <div class="col-8 m-auto">
            <h3>Edit Service: <%= item.name %></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8 m-auto">
            <form action="/shop/<%= item._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" value="<%= item.name %>" name="item[name]">
                </div>
                <div class="form-group">
                    <label for="image">Image URL</label>
                    <input class="form-control" type="text" value="<%= item.image %>" name="item[image]">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input class="form-control" type="text" value="<%= item.price %>" name="item[price]">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="item[description]" rows="3"><%= item.description %></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-secondary">Submit</button>
                    <a class="btn btn-outline-secondary" href="/shop">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>